--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
934c7a14d452
\.


--
-- Data for Name: currency_rates; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.currency_rates (id, symbol, price, last_updated) FROM stdin;
\.


--
-- Data for Name: proxy_earnings; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: currency_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.currency_rates_id_seq', 1, false);


--
-- Name: proxy_earnings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.proxy_earnings_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

